.container {
	display: flex;
	justify-content: center;
	width: 85%;
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2), -5px -5px 4px rgba(0, 0, 0, 0.2);
	margin-bottom: 4vh;
}

@media (max-width: 770px) {
	.container {
		width: 100%;
	}
}
