body {
	background: linear-gradient(to top, rgb(250, 250, 250), rgb(230, 230, 230));
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 15px;
	border-radius: 15px;
	text-align: center;
	box-shadow: inset 5px 5px 8px rgba(0, 0, 0, 0.2), inset -5px -5px 8px rgba(0, 0, 0, 0.205);
}

@media (max-width: 770px) {
	.container {
		margin: 0 10%;
	}
	.title {
		width: 100%;
	}
}
